@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --pink: hsl(322, 100%, 66%); 
    --pale-cyan: hsl(193, 100%, 96%); 
    --dark-cyan: hsl(192, 100%, 9%); 
    --grayish-blue: hsl(208, 11%, 55%); 
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* main styling */

* {
    margin: 0; 
    padding: 0;     
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

header p,
main p {
    margin: 20px 0;
    line-height: 1.8rem;
}

/* header */

header > img {
    position: absolute;
    z-index: 1;
    top: 0; 
    left: 0;
    width: 100%;
    height: 60vh;
}

header {
    height: 60vh;
    padding: 50px;
    background-color: var(--pale-cyan);
}

header #header-navbar {
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}

header #header-content {
    position: relative;
    z-index: 2;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
}

header #header-content > div {
    padding: 30px;
}

header #header-content > img {
    width: 500px;
}

/* features */

main #features {
    flex-direction: column;
    gap: 40px;
    margin: 80px;
    padding-bottom: 100px;
}

main #features > div:nth-child(2) {
    flex-direction: row-reverse;
}

main #features img {
    width: 400px;
}

main #features .feature {
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

main #features .feature > div > p {
    color: var(--grayish-blue);
}

/* ready-to-build */

main #ready-to-build {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

main #ready-to-build > button {
    margin-top: 30px;
}

/* footer */

footer {
    flex-direction: column;
    padding: 150px 100px 50px 100px;
    background-color: var(--dark-cyan);
    color: #fff;
}

footer > img {
    width: 20%;
}

footer #footer-infos {
    grid-template-columns: 45% 10% 15% 15% 15%;
    margin: 50px 0 20px 0;
}

footer #footer-infos #location-phone-mail div i {
    margin-right: 20px;
    font-size: 20px;
}

footer #footer-infos #location-phone-mail #location > i {
    margin-right: 30px;
}

footer #footer-infos #location-phone-mail #phone,
footer #footer-infos #location-phone-mail #mail {
    align-items: center;
    padding-top: 20px;
}

footer #footer-infos #footer-menu-left,
footer #footer-infos #footer-menu-right {
    list-style-type: none;
}

footer #footer-infos #footer-menu-left .nav-item,
footer #footer-infos #footer-menu-right .nav-item {
    margin-bottom: 15px;
}

footer #footer-infos #footer-menu-left .nav-item .nav-link,
footer #footer-infos #footer-menu-right .nav-item .nav-link  {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

footer #footer-infos #footer-menu-left .nav-item .nav-link:hover,
footer #footer-infos #footer-menu-right .nav-item .nav-link:hover {
    border-bottom: 1px solid #fff;
}

footer #footer-infos #socialmedia #socialmedia-icons a {
    padding: 10px;
    margin-left: 20px;
    color: #fff;
    font-size: 0.8rem;
    border: 1px solid #fff;
    border-radius: 50%;
}

footer #footer-infos #socialmedia #socialmedia-icons a:hover {
    color: var(--pink);
    border: 1px solid var(--pink);
}

footer #copyright {
    text-align: right;
    font-size: 0.8rem;
}

/* utility classes */

.flex {
    display: flex; 
}

.grid {
    display: grid;
}

.btn {
    cursor: pointer;
    padding: 10px 50px;
    font-family: inherit;
    font-weight: 700;
    border: none; 
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    background-color: var(--pink);
    color: #fff;
}

.btn-secondary {
    background-color: #fff;
}