@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --pink: hsl(322, 100%, 66%); 
    --pale-cyan: hsl(193, 100%, 96%); 
    --dark-cyan: hsl(192, 100%, 9%); 
    --grayish-blue: hsl(208, 11%, 55%); 
}

* {
    margin: 0; 
    padding: 0;     
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}