/* main styling */

body {
    text-align: center;
}

/* header */

header > img {
    height: 70vh;
}

header {
    height: 70vh;
}

header #header-content {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
}

header #header-content > img {
    width: 350px;
    margin: 20px auto;
}

/* features */

main #features .feature,
main #features > div:nth-child(2) {
    flex-direction: column;
    gap: 80px;
}

main #features .feature > img {
    order: 1;
}

main #features .feature > div {
    order: 2;
}

/* ready-to-build */

main #ready-to-build {
    width: 600px;
}

/* footer */

footer {
    text-align: left;
}

footer #footer-infos {
    grid-template-columns: repeat(1, 1fr);
}

footer #footer-infos #footer-menu-left {
    margin-top: 50px;
}

footer #footer-infos #footer-menu-right {
    margin-bottom: 50px;
}

footer #footer-infos #socialmedia #socialmedia-icons {
    justify-content: center;
}

footer #copyright {
    text-align: center;
}